<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Notes Enter your notes on this Outlining page.  If you're in a lecture or meeting, choose Page -&gt; Voice Annotation to record the person speaking while you take your notes. Voice Annotation, recorded on 9/10/13 at 10:25:36 AM EDT Voice Annotation, recorded on 9/10/13 at 10:33:30 AM EDT </string>
</dict>
</plist>
